.display-button{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.btn{
    margin: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid;
}

.btn-primary{
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover{
    background-color: var(--primary-button-hover);
    color: white;
}

.btn-primary:disabled{
    background-color: var(--primary-light);
}

.btn-secondary {
    background-color: var(--white);
}

.btn-secondary:disabled {
    background-color: var(--secondary-light);
}
.btn-curved {
    border-radius: 100vw;
}

.btn-link{
    background: inherit;
    text-align: center;
}

.btn-icon{
    background: inherit;
}

.btn-floating{
    border-radius: 100%;
}

.btn-floating:hover{
    background-color: var(--primary-light);
}