:root{
    --primary-color: rgb(46, 80, 231);
    --primary-light: rgb(160, 157, 243);
    --secondary-light: rgb(236, 230, 230);
    --white: #ffffff;
	--offwhite: #f7f7f7;
	--black: #282828;
	--grey: #9a9a9a;
    --purple: purple;
    --info: skyblue;
    --red: red;
    --danger: lightcoral;
    --green: green;
    --success: lightgreen;
    --warning: yellow;
    --pink: pink;
    --primary-button-hover: rgb(21, 50, 180);
    --secondary-button-hover: rgb(236, 233, 233);
    --secondary-hover: rgb(220, 219, 245);


}

/* width and height */
.w-1{
    width: 1rem;
}

.w-3{
    width: 3rem;
}

.w-5{
    width: 5rem;
}

.w-10{
  width: 10rem;      
}

.w-20{
    width: 20rem;
}

.w-30{
    width: 30rem;
}

.w-40{
    width: 40rem;
}

.w-50{
    width: 50rem;
}

.w-60{
    width: 60rem;
}

.w-70{
    width: 70rem;
}

.w-80{
    width: 80rem;
}

.w-90{
    width: 90rem;
}

.w-100{
    width: 100rem;
}

.h-10{
    width: 10rem;
}

.h-20{
    width: 20rem;
}

.h-30{
    width: 30rem;
}

.h-40{
    width: 40rem;
}

.h-50{
    width: 50rem;
}

.h-60{
    width: 60rem;
}

.h-70{
    width: 70rem;
}

.h-80{
    width: 80rem;
}

.h-90{
    width: 90rem;
}

.h-100{
    width: 100rem;
}